<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <input dntHover color="tomato" type="text" class="form-control" formControlName="userName" placeholder="Enter the user name!">
    </div>
    <div class="form-group">
      <input dntHover type="password" class="form-control" formControlName="password" placeholder="Enter the password!">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
</form>
