<!-- <h1>Hello from DotNetTricks!</h1> -->

<!-- <div [ngSwitch]="role">
  <div *ngSwitchCase="'Admin'">
    <dnt-department></dnt-department>
  </div>
  <div *ngSwitchCase="'User'">
    <dnt-employee></dnt-employee>
  </div>

  <div *ngSwitchDefault>
    You are not assigned to any role!
  </div>

</div>
<hr>
<button class="btn btn-danger" (click)="addDepartment()">Add Department from Root Component</button> -->

<!-- <hr> -->
<!--
<dnt-department></dnt-department>
<dnt-employee></dnt-employee> -->

<!-- <dnt-container>
  This is content projection!
  <dnt-department></dnt-department>
  <dnt-department></dnt-department>
  <dnt-employee></dnt-employee>
</dnt-container> -->


<!-- <dnt-todos></dnt-todos> -->
<!-- <a routerLink="todos">Todos</a>
<a routerLink="employee">Employee</a>
<router-outlet></router-outlet> -->
<dnt-main-nav></dnt-main-nav>
